.u-section-1 .u-sheet-1 {
  min-height: 495px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 35px 310px 0 285px;
}

.u-section-1 .u-form-1 {
  height: 353px;
  width: 570px;
  margin: 27px auto;
}

.u-section-1 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 210px;
    margin-left: 185px;
    font-family: Arial, sans-serif;
  }

  .u-section-1 .u-form-1 {
    margin-top: -58px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 100px;
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}