.u-section-1 .u-sheet-1 {
  min-height: 592px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 7px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 472px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-image-1 {
  width: 176px;
  height: 99px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-1 .u-line-1 {
  width: 282px;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-image-2 {
  width: 176px;
  height: 99px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 7px auto 0;
}

.u-section-1 .u-line-2 {
  width: 282px;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-image-3 {
  width: 176px;
  height: 99px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 7px auto 0;
}

.u-section-1 .u-line-3 {
  width: 282px;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-image-4 {
  width: 176px;
  height: 99px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 7px auto 0;
}

.u-section-1 .u-line-4 {
  width: 282px;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-image-5 {
  width: 176px;
  height: 99px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 7px auto 0;
}

.u-section-1 .u-line-5 {
  width: 282px;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-image-6 {
  width: 176px;
  height: 99px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 7px auto 0;
}

.u-section-1 .u-line-6 {
  width: 282px;
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 680px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}